.container__stores-list {
    display: flex;
    flex-direction: column;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    flex-grow: 1;
}

.stores-container__stores-list {
    display: flex;
    flex-wrap: wrap;
}

.store-card__stores-list {
    margin-top: 1.875rem;
    margin-right: 20px;
}

.title__stores-list {
    margin-top: 5vh;
    font-size: 1rem;
    color: #737373;
    text-decoration: underline;
    text-decoration-color: #f6c243;
    text-decoration-thickness: 2px;
    font-weight: 500;
}

.stores-text__stores-list {
    margin-top: 6vh;
    font-size: 1.75rem;
    font-weight: 500;
}

.choose-text__stores-list {
    margin-top: 1.7vh;
    color: #929292;
    font-size: 1rem;
}

.search__stores-list {
    margin-top: 1rem;
    height: 2rem;
}

@media only screen and (max-width: 1200px) {
    .stores-container__stores-list {
        justify-content: center;
    }
}
