.container__store-card {
    display: flex;
    flex-direction: column;
}

.title__store-card {
    margin-top: 1.375rem;
    font-size: 1.1rem;
    font-weight: 600;
}
.address__store-card {
    margin-top: 0.75rem;
    font-size: 0.75rem;
    color: #b6b6b6;
}
