.form-container__login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 9.375vw;
    padding-right: 9.375vw;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.title__login-form {
    margin-top: 6%;
    font-size: 5.5vh;
    font-weight: 500;
}

.subtitle__login-form {
    margin-top: 2vh;
    font-size: 2.6vh;
    color: #949494;
    font-weight: 300;
}

.input-user__login-form {
    margin-top: 4vh;
    align-self: stretch;
}

.input-password__login-form {
    margin-top: 1vh;
    align-self: stretch;
}

.recovery__login-form {
    font-family: Poppins;
    margin-top: 4vh;
    font-size: 1.25rem;
    font-weight: 500;
}

.recovery__login-form:hover {
    cursor: pointer;
}

.error__login-form {
    color: red;
}

.button__login-form {
    margin-top: 6%;
}
