.container__main-template {
    background-image: url('../../../assets/images/imagebkg.jpg');
    background-size: cover;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.image-container__main-template {
    flex: 0.42;
    display: flex;
}

.main-container__main-template {
    flex: 0.58;
    flex-direction: column;
    display: flex;
    background-color: white;
}

.content-container__main-template {
    display: flex;
    flex-grow: 1;
}

.info-container__main-template {
    flex: 3;
    display: flex;
    justify-content: center;
}

.menu-container__main-template {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.bottom-container__main-template {
    display: flex;
}

.home-logo__main-template {
    left: 8vw;
    top: 4vh;
    position: absolute;
}

@media only screen and (max-width: 1200px) {
    .image-container__main-template {
        flex: 0;
    }
    .main-container__main-template {
        flex: 1;
    }
    .content-container__main-template {
        flex-direction: column;
    }
    .info-container__main-template {
        flex: auto;
    }
    .menu-container__main-template {
        flex: auto;
    }
    .home-logo__main-template {
        display: none;
    }
}
