.products-container__store-details {
    display: flex;
    flex-wrap: wrap;
}

.container__store-details {
    display: flex;
    flex-direction: column;
    padding-right: 3.5vw;
    padding-left: 3.5vw;
}

.product__store-details {
    margin-right: 20px;
    margin-top: 20px;
}

.name__store-details {
    font-size: 2.5rem;
    font-weight: 500;
}

.address__store-details {
    font-size: 1rem;
}

.description__store-details {
    margin-top: 5vh;
    font-size: 1.5rem;
    font-weight: 300;
}

.products-text__store-details {
    margin-top: 5vh;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(80, 80, 80);
}

.go-back__store-details {
    margin-top: 5vh;
    font-size: 1rem;
    color: #737373;
    text-decoration: underline;
    text-decoration-color: #f6c243;
    text-decoration-thickness: 2px;
    font-weight: 500;
}

@media only screen and (max-width: 1200px) {
    .products-container__store-details {
        justify-content: center;
    }
}
