.input__input {
    border: 0;
    height: 2rem;
    flex-grow: 1;
    padding-left: 1rem;
    height: auto;
    font-size: 1.25rem;
}

.input__input:focus {
    outline: none;
}

.container__input {
    border-radius: 0.2rem;
    border: 1px solid #bfbfbf;
    display: flex;
    height: 8vh;
    padding: 1px;
}

.icon__input {
    margin-right: 2.25rem;
}
